.header {
    
    height: 100px;
    padding: 0 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background:  #3d4c5a;
    box-shadow: 0 3px 10px rgba(0,0,0,0.15);
}
.logo-link {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}



.logo_img {
    height: 135px;
   object-fit: contain;
}
   .logo-link strong {
    font-family: "Playfair Display", serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;

    background: linear-gradient(90deg,#ffffff, #c9a36b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menu_header {
    display: flex;
    gap: 40px;
}
.menu_header a {
    text-decoration: none;
    color:  #c9a36b;
    font-size: 20px;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}
.menu_header a::after {
    content: "";
    width: 0%;
    height: 2px;
    background: #c9a36b;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.3s;
}

.menu_header a:hover::after {
    width: 100%;
}
.user_area {
    display: flex;
    align-items: center;
    gap: 12px;
}

.user_area img {
    width: 38px;
    height: 38px;
    border-radius: 8px;
    object-fit: cover;
}
